<launch>
	<arg name="framerate" default="1"/>

	<node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
		<param name="camera_info_url" value="/root/camerav2_1920x1080.yaml"/>
		<param name="width" value="1920"/>
		<param name="height" value="1080"/>
		<param name="framerate" value="$(arg framerate)"/>
		<param name="camera_frame_id" value="raspicam"/>
	</node>
</launch>
